#list {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 10px;
	list-style: none;
	background: #eee;
	border-radius: 10px;
}

#list li {
	padding: 2px 10px;
}

#list ul {
	outline: none;
	background: #fff;
	min-height: 40px;
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
}